@font-face {
    font-family: 'Roboto Black';
    src: url('../font/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../font/Roboto-Italic.ttf');
}

body {
    padding: 0px;
    margin: 0px;
    margin-top: 9rem;
    font-family: 'Roboto Regular';
    background: linear-gradient(to bottom left,#3F9E76, #3C9BAB)
}

nav {
    padding: 0.5rem 1.5rem;
    background-color: #EEE;
    border-width: 3px;
    border-color: #000;
    max-height: 10rem;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 4.2rem;
    outline-color: #CCC;
    outline-width: 1px;
    outline-style: inset;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
}

div.nav-soon {
    text-align: left;
    margin: 1rem;
    width: 13rem;
    font-size: 26px;
    display: inline-block;
    color: #032538;
    font-family: unset;
}

    div.nav-soon:hover {
        cursor: pointer;
    }

div.nav-right {
    text-align: right;
    float: right;
    margin: 0.8rem 1rem 5rem 0rem;
}

div.nav-text {
    background: transparent;
    color: #9395B2;
    outline: none;
    margin: 0rem 1rem;
    font-size: medium;
    display: inline-block;
}

div.body {
    margin: 0;
    height: 70%;
    display: inline;
}

button.outlined {
    padding: 0.5rem 2rem;
    background: transparent;
    outline-color: #032538;
    margin: 0rem;
    font-size: medium;
    color: #032538;
    cursor: pointer;
    border-radius: 1rem;
    border-color: #032538;
}

    button.outlined:hover {
        border-color: #3F9E76;
        outline-color: #3F9E76;
        color: #3F9E76;
    }

button.normal {
    padding: 0.5rem 2rem;
    background: #032538;
    margin: 0rem 1rem;
    font-size: medium;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    border-color: #032538;
}

    button.normal:hover {
        border-color: #3F9E76;
        outline-color: #3F9E76;
        color: #032538;
        background: #3F9E76; 
    }

footer {
    text-align: center;
    background: #032538;
    color: white;
    margin: 0;
    margin-top:5rem;
}

i.reference {
    color: #032538;
    font-family: 'Roboto Italic';
}

    i.reference:hover {
        color: #3F9E76;
        cursor: pointer;
    }

p {
    margin: 0;
}

div.card {
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    padding: 1.5rem;
    border-radius: 2rem;
    transition: 0.4s;
    background: white;
    max-width: 27.5rem;
}

input.form {
    border-width: 2px;
    border-radius: 8px;
    font-size: 17px;
    padding: 10px;
    width: 82%;
    max-width: 350px;
    margin-top: 25px;
    text-decoration-color: #b4b4b4;
    border-color: #3F9E76;
}

    input.form:checked {
        
    }