@font-face {
    font-family: 'Roboto Black';
    src: url('../font/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../font/Roboto-Italic.ttf');
}

body {
    padding: 0px;
    margin: 0px;
    margin-top: 9rem;
    font-family: 'Roboto Regular';
    background: linear-gradient(to bottom left,#3F9E76, #3C9BAB)
}

nav {
    padding: 0.5rem 1.5rem;
    background-color: #EEE;
    border-width: 3px;
    border-color: #000;
    max-height: 10rem;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 4.2rem;
    outline-color: #CCC;
    outline-width: 1px;
    outline-style: inset;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
}

div.nav-soon {
    text-align: left;
    margin: 1rem;
    width: 13rem;
    font-size: 26px;
    display: inline-block;
    color: #032538;
    font-family: unset;
}

    div.nav-soon:hover {
        cursor: pointer;
    }

div.nav-right {
    text-align: right;
    float: right;
    margin: 0.8rem 1rem 5rem 0rem;
}

div.nav-text {
    background: transparent;
    color: #9395B2;
    outline: none;
    margin: 0rem 1rem;
    font-size: medium;
    display: inline-block;
}

div.body {
    margin: 0;
    height: 70%;
    display: inline;
}

button.outlined {
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    padding: 0.5rem 2rem;
    background: transparent;
    outline-color: #032538;
    margin: 0rem;
    font-size: medium;
    color: #032538;
    cursor: pointer;
    border-radius: 1rem;
    border-color: #032538;
    border-style: solid;
}

    button.outlined:hover {
        border-color: #3F9E76;
        outline-color: #3F9E76;
        color: #3F9E76;
    }

button.normal {
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    padding: 0.5rem 2rem;
    background: #032538;
    margin: 0rem 1rem;
    font-size: medium;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    border-color: #032538;
    border-style: solid;
}

    button.normal:hover {
        border-color: #3F9E76;
        outline-color: #3F9E76;
        color: #032538;
        background: #3F9E76;
    }

footer {
    text-align: center;
    background: #032538;
    color: white;
    margin: 0;
    margin-top: 5rem;
}

i.reference {
    color: #032538;
    font-family: 'Roboto Italic';
}

    i.reference:hover {
        color: #3F9E76;
        cursor: pointer;
    }

p {
    margin: 1px;
}

    p.left {
        text-align: left;
    }

    p.right{
        text-align: left;
    }

    .link {
        text-align: right;
        font-size: 14px;
        margin-top: 5px;
        color: #3F9E76;
    }

        .link:hover {
            color: #032538;
            cursor: pointer;
        }

label.link {
    text-align: right;
    font-size: 14px;
    margin-top: 5px;
    color: #3F9E76;
    font-size: 17px;
    padding-right: 7em;
}

    label.link:hover {
        color: #032538;
        cursor: pointer;
    }

div.card {
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    padding: 1.5rem;
    border-radius: 2rem;
    transition: 0.4s;
    background: white;
    max-width: 27.5rem;
    margin: 2rem;
}

input.form {
    border-width: 0.12rem;
    border-radius: 8px;
    font-size: 17px;
    padding: 10px;
    width: 92%;
    max-width: 300px;
    margin-top: 5px;
    text-decoration-color: #b4b4b4;
    border-color: #031926;
    border-style: solid;
}

    input.form:focus {
        outline: none;
        border-color: #2A6C77;
    }

input.error {
    border-color: #CC2936;
}

.form-text {
    font-size: 17px;
    font-style: normal;
    font-family: 'Roboto Italic';
    margin-top: 1.1rem;
}

.form-error-invisible {
    color: #CC2936;
    font-size: 14px;
    margin-top: 0rem;
    visibility: hidden;
    font-family: 'Roboto Regular';
    transition: 0.1s;
}

.form-error-visible {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    visibility: visible;
    transition: 0.1s;
}

input.checkbox{
    font: 16pt sans-serif;
    color: #000;
    cursor: pointer;
    content: '\00f096';
    display: inline-block;
    width: 16pt;
    padding: 2px 0 0 3px;
    margin-right: 0.3em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.vertical-center {
    margin-top: auto;
    margin-top: 20%
}