@font-face {
    font-family: 'Roboto Regular';
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../font/Roboto-Italic.ttf');
}

body {
    padding: 0px; 
    margin: 0px;
    font-family: 'Roboto Regular';
}

nav {
    padding: 0.5rem 1.5rem;
    background-color: #EEE;
    border-width: 3px;
    border-color: #000;
    max-height: 25%;
}

div.nav-soon {
    text-align: left;
    margin: 1rem;
    width: 13rem;
    font-size: 26px;
    display: inline-block;
    color: #032538;
    font-family: unset;
}

div.nav-soon:hover {
    cursor: pointer;
}

div.nav-right{
    text-align: right;
    align-content: right;
    float:right;
    margin: 0.8rem 1rem 5rem 0rem;
}

div.nav-text{
    background: transparent;
    color: #9395B2;
    outline: none;
    margin:  0rem 1rem;
    font-size: medium;
    display: inline-block;
}

div.body{
    margin: 2rem;
    height: 70%;
    display: inline-flex;
}

button.outlined {
    padding: 0.5rem 2rem;
    background: transparent;
    outline-color: #032538;
    margin:  0rem;
    font-size: medium;
    color: #032538;
    cursor: pointer;
    border-radius: 1rem;
    border-color: #032538;
}

button.outlined:hover {
    border-color: #3F9E76;
    outline-color: #3F9E76;
    color: #3F9E76;
}

button.normal {
    padding: 0.5rem 2rem;
    background: #032538;
    margin:  0rem 1rem;
    font-size: medium;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    border-color: #032538;
}

button.normal:hover{
    border-color: #3F9E76;
    outline-color: #3F9E76;
    color: #032538;
    background: #3F9E76;
}

footer{
    text-align: center;
}

i.reference {
    color: #032538;
    font-family: 'Roboto Italic';
}

i.reference:hover {
    color: #3F9E76;
    cursor: pointer;
}